<template>
  <div id="oprGcsRec">
    <!-- 如果意識評估有資料 -->
    <section class="oprGcsRecData" v-if="resOprGcsRecData.length > 0 && serverError === ''">
      <div class="container-fluid">
        <!-- 患者資訊 -->
        <div class="row">
          <div class="PatientInfo col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <p v-text="`病歷號: ${resOprGcsRecData[0].CRTNO}`"></p>
          </div>

          <div class="PatientInfo col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <p v-text="`患者姓名: ${resOprGcsRecData[0].PTNAME}`"></p>
          </div>

          <div class="PatientInfo col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <p v-text="`入院時間: ${resOprGcsRecData[0].VSDTE}`"></p>
          </div>
        </div>

        <!-- 意識評估清單 -->
        <div class="row">
          <div class="GcsData col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="scroll">
              <table>
                <thead class="header">
                  <tr>
                    <th></th>
                    <th colspan="3">昏迷指標</th>
                    <th colspan="2">瞳孔</th>
                    <th colspan="4">肢體運動</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>記錄時間</th>
                    <th>GCS_E</th>
                    <th>GCS_V</th>
                    <th>GCS_M</th>
                    <th>左眼</th>
                    <th>右眼</th>
                    <th>左上肢</th>
                    <th>右上肢</th>
                    <th>左下肢</th>
                    <th>右下肢</th>
                    <th>記錄人員</th>
                  </tr>
                </thead>

                <tbody class="content">
                  <tr v-for="(item, index) in resOprGcsRecData" :key="index">
                    <td v-text="`${item.FDTE} ${item.FTIM}`"></td>
                    <td v-text="`${item.GCS_E}`"></td>
                    <td v-text="`${item.GCS_V}`"></td>
                    <td v-text="`${item.GCS_M}`"></td>
                    <td v-text="`${item.PUPILL}`"></td>
                    <td v-text="`${item.PUPILR}`"></td>
                    <td v-text="`${item.WKPOS_LU}`"></td>
                    <td v-text="`${item.WKPOS_LL}`"></td>
                    <td v-text="`${item.WKPOS_RU}`"></td>
                    <td v-text="`${item.WKPOS_RL}`"></td>
                    <td v-text="`${item.FOP}`"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- 備註 -->
        <div class="row">
          <div class="Mark col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="help">
              <p>C:眼睛腫脹睜不開</p>
              <p>T:氣管內管或氣切</p>
              <p>+:有反應</p>
              <p>-:無反應</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 查無資料 -->
    <Message v-else-if="resOprGcsRecData.length === 0 && serverError === ''"></Message>

    <!--錯誤訊息 -->
    <ErrorPage v-else :msg="serverError"></ErrorPage>
  </div>
</template>

<script>
  import { getOprGcsRec } from '@/api/opr.js';      // 引用急診意識評估 api
  import Message from '@/components/Message';       //載入訊息元件
  import ErrorPage from '@/components/ErrorPage';   //載入錯誤元件

  export default {
    name: 'oprGcsRec',
    components: {
      Message,      //訊息元件
      ErrorPage     //錯誤元件
    },
    data() {
      return {
        attrData: null,           //儲存掛載參數  ex: url: http://localhost:8080/HIS/OPR/OPRW5000/#/oprGcsRec/index/KTGH00/0000195663/0B08
        resOprGcsRecData: [],     //儲存急診意識評估資料
        serverError: ''           //儲存錯誤訊息
      }
    },
    mounted() {
      let self = this;
      self.attrData = self.$route.params;  //將抓到的掛載參數儲存至 attrData 變數

      if (self.hsp !== '' && self.crtno !== '' && self.actno !== '') //如果院區、病例號、急診流水號都不等於空
      {
        self.getOprGcsRecData(); //呼叫 getOprGcsRecData() 方法取得急診意識評估記錄資料
      }
    },
    methods: {
      getOprGcsRecData() {  //此方法呼叫被 mounted() 呼叫時，進行呼叫 api 取得急診護理評估資料
        let self = this;
        const hsp = self.attrData.hsp;      //存取院區
        const crtno = self.attrData.crtno;  //存取病歷號
        const actno = self.attrData.actno;  //存取急診流水號

        getOprGcsRec(hsp, crtno, actno).then((res) => {   //呼叫 api 代入院區、病歷號、流水號，取得患者急診意識評估記錄資料
          if (res.status === 200)               //如果 api 呼叫成功時
          {
            self.resOprGcsRecData = res.data;    //將取得資料 存放 resOprGcsRecData 陣列
          }
          else   //否則
          {
            self.serverError = res;  //回傳錯誤訊息，儲存至 serverError 字串
          }
        });
      }
    }
  }
</script>

<style lang="sass">
  @import '@/styles/functions.sass'

  #oprGcsRec
    .oprGcsRecData
      .container-fluid
        padding: 25px

        .row
          margin-bottom: 15px

          .PatientInfo
            p
              padding-top: 10px

          .GcsData
            .scroll::-webkit-scrollbar
              background-color: darken($color_gray, 15)
              height: 10px

            .scroll::-webkit-scrollbar-track
              background-color: darken($color_gray, 15)

            .scroll::-webkit-scrollbar-thumb
              background-color: darken($color_gray, 25)

            .scroll
              width: 100%
              box-shadow: 0px 0px 15px rgba($color_black, 0.15)
              border: 0.5px solid darken($color_gray, 15)
              overflow-x: auto
              overflow-y: hidden

              table
                width: 100%
                background-color: $color_white

                tr
                  color: $color_black
                  transition: (background-color, color) 0.5s

                  th, td
                    vertical-align: middle
                    padding: 10px
                    border: 0.5px solid darken($color_gray, 15)
                    white-space: nowrap
                    text-align: center

                thead.header
                  background-color: $color_gray

                tbody.content
                  tr:nth-child(even)
                    background-color: $color_gray
          
          .Mark
            .help
              background-color: $color_white
              box-shadow: inset 5px 0px $color_blue, 0px 0px 15px rgba($color_black, 0.15)
              
              p
                padding: 10px 15px

  @media screen and (max-width: 992px)
    #oprGcsRec
      .oprGcsRecData
        .container
          .row
            .GcsData
              .scroll
                overflow-x: auto
                overflow-y: hidden
</style>