<template>
    <!-- 如果照會問題不是 null，且照會問題 api 沒有產生錯誤訊息，才會顯示此區塊 -->
    <section class="noteResumeProbleDetail" v-if="resNoteResumeProblemData !== null && serverError === ''">
        <!-- 照會問題列表 -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <h5>問題列表</h5>
                        <p v-text="resNoteResumeProblemData.QUES_LIST"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 照會問題簡述 -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <h5>問題簡述</h5>
                        <p v-text="verifyFieldNull(resNoteResumeProblemData.QUES_MARK)"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 如果照會問題是 null，且照會問題 api 沒有產生錯誤訊息，才會顯示此區塊 -->
    <Message v-else-if="resNoteResumeProblemData === null && serverError === ''"></Message>

    <!-- 如果照會問題 api 產生錯誤訊息，才會顯示此區塊 -->
    <ErrorPage v-else :msg="serverError"></ErrorPage>
</template>

<script>
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';

    export default {
        name: "NoteResumeProblemDetail",
        components: {
            Message,
            ErrorPage
        },
        props: {
            resNoteResumeProblemData: { //繼承 照會問題資料
                type: Object,
                default: Object
            },
            serverError: {    //繼承 伺服器錯誤訊息
                type: String,
                default: String
            }
        },
        methods: {
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== ' ')? field: 'N/A';

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions.sass'

    .noteResumeProbleDetail
        margin-bottom: 20px

        .container-fluid
            padding:
                left: 25px
                right: 25px
            margin-bottom: 20px

        .card
            padding: 10px
            border-radius: 0px
            border: 1px solid darken($color_gray, 15)
</style>