<template>
  <div class="checkDetail col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" v-if="resOprTraintCheckInfoData.length === 1 && resOprTraintCheckInfoData[0].CRTNO !== '' && serverError === ''">
    <div class="card" v-for="(item, index) in resOprTraintCheckInfoData" :key="index">
      <h5>查核明細</h5>
      <p v-text="verifyFieldNull(item.EVLITEM)"></p>
    </div>
  </div>

  <div class="Message col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" v-else-if="resOprTraintCheckInfoData.length === 1 && resOprTraintCheckInfoData[0].CRTNO === '' && serverError === ''">
    <p>查無患者資料</p>
  </div>

  <div class="Message col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" v-else>
    <p v-text="serverError"></p>
  </div>
</template>

<script>
  export default {
    props: {
      resOprTraintCheckInfoData: {  //繼承回傳回來的查核明細
        type: Array,
        default: Array
      },
      serverError: {    //繼承 api 錯誤訊息
        type: String,
        default: String
      }
    },
    methods: {
      verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
        let result = (field !== null && field !== '')? field: 'N/A';

        return result;
      }
    }
  }
</script>

<style lang="sass" scoped>
  @import '@/styles/functions.sass'

  .checkDetail
    .card
      padding: 10px
      border-radius: 0px
      border: 1px solid darken($color_gray, 25)

  .Message
    p
      background-color: $color_white
      border-radius: 0px 5px 5px 0px
      padding: 10px
      box-shadow: inset 5px 0px $color_ServerError, 0px 0px 15px rgba($color_black, 0.15)

  .ErrorPage
    p
      background-color: $color_white
      border-radius: 0px 5px 5px 0px
      padding: 10px
      box-shadow: inset 5px 0px $color_ServerError, 0px 0px 15px rgba($color_black, 0.15)
</style>