<!-- 急診護理記錄 -->
<template>
    <div id="emerDayRec">
        <!-- 如果急診護理紀錄有資料大於等於 1 筆，且急診護理紀錄 api 沒有產生錯誤訊息，才顯示此區塊 -->
        <section class="emerDayRecData" v-if="resEmerDayRecData.length >= 1 && serverError === ''">
            <div class="container-fuild">
                <div class="row">
                    <div class="emerDayRecInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <!-- 急診病人基本資料 -->
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <p v-text="'病歷號: ' + resEmerDayRecData[0].CRTNO"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <p v-text="'患者姓名: ' + resEmerDayRecData[0].PTNAME"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <p v-text="'入院時間: ' + resEmerDayRecData[0].VSDTE"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <p v-text="'科別: ' + resEmerDayRecData[0].VSDPT"></p>
                            </div>
                        </div>

                        <!-- 急診病人記錄 -->
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="scroll">
                                    <table>
                                        <thead class="header">
                                            <tr>
                                                <th>日期</th>
                                                <th>時間</th>
                                                <th>護理記錄</th>
                                                <th>記錄人員</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody class="content">
                                            <tr class="patientList" v-for="(item, index) in resEmerDayRecData" :key="index">
                                                <td v-text="item.FDTE"></td>
                                                <td v-text="item.FTIM"></td>
                                                <td v-text="item.RECORD"></td>
                                                <td v-text="item.FOP"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 如果急診護理紀錄有資料等於 0 筆，且急診護理紀錄 api 沒有產生錯誤訊息，才顯示此區塊 -->
        <Message v-else-if="resEmerDayRecData.length === 0 && serverError === ''"></Message>

        <!-- 如果急診護理紀錄 api 產生錯誤訊息，才會顯示此區塊 -->
        <ErrorPage v-else :msg="serverError"></ErrorPage>
    </div>
</template>

<script>
    import { getERNurRec } from '@/api/opr.js';
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';

    export default {
        name: 'emerDayRec',
        components: {
            Message,
            ErrorPage
        },
        data() {
            return {
                attrData: null, //儲存參數掛載參數  ex: url: http://localhost:8080/emerDayRec/index/KTGH00/0001155995/0A01
                resEmerDayRecData: [], //儲存急診護理記錄資料
                serverError: '', //儲存伺服器錯誤訊息
            }
        },
        mounted(){
            let self = this;
            self.attrData = self.$route.params;  //將抓到的掛載參數儲存至 attrData 變數

            if (self.attrData.hspnme !== '' && self.attrData.crtno !== '' && self.attrData.actno !== '') //如果院區、病歷號、急診流水號 都不等於空值
            {
                self.getEmerDayRecData(); //呼叫 getEmerDayRecData 方法取得急診護理記錄資料
            }
        },
        methods: {
            getEmerDayRecData: function(){ //此方法呼叫被 mounted() 呼叫時，進行呼叫 api 取得急診護理記錄資料
                let self = this;
                const hspnme = self.attrData.hspnme;
                const crtno = self.attrData.crtno;
                const actno = self.attrData.actno;

                getERNurRec(hspnme, crtno, actno).then((res) => { //呼叫 api 代入院區、病歷號、流水號，取得病人急診護理記錄資料
                    if (res.status === 200)  //如果回傳的 Status Code 狀態為 200 成功狀態
                    {
                        self.resEmerDayRecData = res.data;  //將取得資料 存放 resEmerAssData 陣列
                    }
                    else
                    {
                        self.serverError = res;  //回傳錯誤訊息，儲存至 serverError 字串
                    }
                });
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    p
        word-break: break-all
        text-align: justify
        padding-bottom: 10px

    #emerDayRec
        .container-fuild
            padding: 25px

            .emerDayRecInfo
                .scroll::-webkit-scrollbar
                    background-color: darken($color_gray, 15)
                    height: 10px

                .scroll::-webkit-scrollbar-track
                    background-color: darken($color_gray, 15)

                .scroll::-webkit-scrollbar-thumb
                    background-color: darken($color_gray, 25)

                .scroll
                    width: 100%
                    border: 0.5px solid darken($color_gray, 25)
                    box-shadow: 0px 0px 15px rgba($color_black, 0.15)
                    overflow-x: auto
                    overflow-y: hidden

                    table
                        width: 100%
                        background-color: $color_white

                        tr
                            color: $color_black
                            transition: (background-color, color) 0.5s
                            
                            th, td
                                vertical-align: middle
                                padding: 10px
                                border: 0.5px solid darken($color_gray, 15)

                        thead.header
                            background-color: $color_gray

                            tr th
                                text-align: center
                                white-space: nowrap
                        
                        tbody.content
                            tr:nth-child(even)
                                background-color: $color_gray

                            tr.patientList
                                border-top: 1px solid darken($color_gray, 15)

                                td
                                    word-wrap: break-word
                                    white-space: pre-wrap

                                td:nth-child(1), td:nth-child(2), td:nth-child(4)
                                    text-align: center

                                td:nth-child(3)
                                    text-align: justify

    @media screen and ( max-width: 992px )
        #emerDayRec
            .emerDayRecData
                .container
                    .emerDayRecInfo
                        .scroll
                            overflow-x: auto
                            overflow-y: hidden
</style>