<template>
    <div id="oprLifeRec">
        <section class="oprLifeData" v-if="resOprLifeRecList.length > 0 && serverError === ''">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p v-text="`病歷號: ${resOprLifeRecList[0].CRTNO}`"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p v-text="`患者姓名: ${resOprLifeRecList[0].PTNAME}`"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p v-text="`到院時間: ${resOprLifeRecList[0].VSDTE}`"></p>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p v-text="`科別: ${resOprLifeRecList[0].VSDPT}`"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="oprLifeInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>#</th>
                                        <th>日期/時間</th>
                                        <th>血壓(收)</th>
                                        <th>血壓(舒)</th>
                                        <th>血壓量測部位</th>
                                        <th>脈搏</th>
                                        <th>呼吸</th>
                                        <th>體溫</th>
                                        <th>血氧濃度</th>
                                        <th>疼痛指數</th>
                                        <th>測量人員</th>
                                    </tr>
                                </thead>

                                <tbody class="content">
                                    <tr v-for="(item, index) in showNumberItem" :key="index">
                                        <td v-text="index + itemBarMenu * nowPage - itemBarMenu + 1"></td>
                                        <td v-text="`${item.MDTE}`"></td>
                                        <td v-text="`${item.BP_SP}`"></td>
                                        <td v-text="`${item.BP_DP}`"></td>
                                        <td v-text="`${item.BP_PART}`"></td>
                                        <td v-text="`${item.PULSE}`"></td>
                                        <td v-text="`${item.RESPIRE}`"></td>
                                        <td v-text="`${item.TEMPERATURE}`"></td>
                                        <td v-text="`${item.SPO2}`"></td>
                                        <td v-text="`${item.HURT}`"></td>
                                        <td v-text="`${item.NURSE}`"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <Pagination @changePage="handleChangePage" @changeSize="handleChangeSize" :pagerCount="5" :pageSizes="[10, 20, 30, 50, 100]" :total="resOprLifeRecList.length"></Pagination>
                    </div>
                </div>
            </div>
        </section>

        <Message v-else-if="resOprLifeRecList.length === 0 && serverError === ''"></Message>

        <ErrorPage v-else :msg="serverError"></ErrorPage>
    </div>
</template>

<script>
    import { getOprNurLiveRec } from '@/api/opr.js';
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';
    import Pagination from '@/components/Pagination';

    export default {
        name: 'oprGcsRec',
        components: {
            Message,
            ErrorPage,
            Pagination
        },
        data() {
            return {
                attrData: null,
                resOprLifeRecList: [],
                serverError: '',
                nowPage: 1,
                itemBarMenu: 5
            }
        },
        mounted() {
            let self = this;
            self.attrData = self.$route.params

            if (self.attrData.organ !== '' && self.attrData.crtno !== '' && self.attrData.actno !== '')
            {
                self.getOprLifeRecData();
            }
        },
        methods: {
            getOprLifeRecData: function() {
                let self = this;
                const organ = self.attrData.organ;
                const crtno = self.attrData.crtno;
                const actno = self.attrData.actno;

                getOprNurLiveRec(organ, crtno, actno).then((res) => {
                    if (res.status === 200)
                    {
                        self.resOprLifeRecList = res.data;
                    }
                    else
                    {
                        self.serverError = res;
                    }
                });
            },
            handleChangePage: function(val) {
                this.nowPage = val;
            },
            handleChangeSize: function (val) {
                this.itemBarMenu = val;
            }
        },
        computed: {
            showNumberItem: function() {
                let start = this.nowPage * this.itemBarMenu - this.itemBarMenu;
                let end = this.nowPage * this.itemBarMenu;
                let result = this.resOprLifeRecList.slice(start, end);

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions.sass'

    p
        padding: 5px 0px

    #oprLifeRec
        .oprLifeData
            .container-fluid
                padding: 25px

                .row
                    margin-bottom: 10px

                    .oprLifeInfo
                        .scroll::-webkit-scrollbar
                            background-color: darken($color_gray, 15)
                            height: 10px

                        .scroll::-webkit-scrollbar-track
                            background-color: darken($color_gray, 15)

                        .scroll::-webkit-scrollbar-thumb
                            background-color: darken($color_gray, 25)

                        .scroll
                            width: 100%
                            border: 1px solid darken($color_gray, 25)
                            overflow-x: auto
                            overflow-y: hidden

                            table
                                width: 100%
                                background-color: $color_white

                                tr
                                    color: $color_black
                                    transition: (background-color, color) 0.5s

                                    th, td
                                        white-space: nowrap
                                        text-align: center
                                        vertical-align: middle
                                        padding: 10px

                                thead.header
                                    background-color: $color_gray

                                tbody.content
                                    tr:nth-child(even)
                                        background-color: $color_gray

                                    tr
                                        border-top: 1px solid darken($color_gray, 15)

                                        td
                                            text-align: center

    .Pagination
        background-color: $color_gray
        border-left: 0.5px solid darken($color_gray, 25)
        border-right: 0.5px solid darken($color_gray, 25)
        border-bottom: 0.5px solid darken($color_gray, 25)
        
    @media screen and ( max-width: 992px )
        #oprLifeRec
            .oprLifeData
                .container-fluid
                    .row
                        .oprLifeInfo
                            .scroll
                                overflow-x: auto
                                overflow-y: hidden
</style>