<template>
    <div class="Pagination">
        <div class="group">
            <button class="prevPage" v-if="nowPage !== 1" v-text="'上一頁'" v-on:click="prevPage()"></button>
            <input class="numberPage" type="button" v-for="(item, index) in showPage" :key="index" :value="item" :style="nowPage === item?numberPageBindStyle: ''" v-on:click="goToPage(item)">
            <button class="nextPage" v-if="nowPage !== pageCount" v-on:click="nextPage()">下一頁</button>
        </div>

        <div class="group">
            <select class="itemBarMenu" v-model="itemBarMenu" v-on:change="rePageTotal()">
                <option v-for="(item, index) in pageSizes" :key="index" :value="item" v-text="item"></option>
            </select>
            <span>項/頁</span>
        </div>

        <div class="group">
            <span>
                頁碼
                <input class="newPage" type="text" :size="'1'" v-model="newPage" v-on:input="verifyNumberPage($event)">
            </span>
            <button class="goToPage" type="button" :style="newPage === ''?goToPageBindStyle:''" :disabled="newPage === ''?true:false" v-on:click="goToPage(newPage)">Go</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            defaultPage: {  /** 預設開始頁面 */
                type: Number,
                default: 1
            },
            pageSize: {
                type: Number,
                default: 5
            },
            pageSizes: {  /** 每頁顯示個數選擇器的選項設置 */
                type: Array,
                default: () => [5, 10, 20, 30, 50, 100]
            },
            pagerCount: {  //
                type: Number,
                default: 5,
                validator: function(val) {
                    if (val >= 5 && val <= 11)
                    {
                        if (val % 2 !== 0)
                        {
                            return true;
                        }
                    }

                    return false;
                }
            },
            total: {     /** 資料總數 */
                type: Number,
                default: 0
            }
        },
        data() {
            return {
                nowPage: this.defaultPage,
                pageCount: 0, //頁碼數量
                newPage: 1,
                itemBarMenu: 10,
                numberPageBindStyle: { "background-color": "#26547C", "color": "#ffffff" }, //綁定頁碼樣式
                goToPageBindStyle: {"opacity": "0.5"}, //綁定 go 按鈕樣式
            }
        },
        mounted() {
            this.init();
        },
        beforeUpdate() {
            this.changePage();
            this.changeSize();
        },
        methods: {
            init() {
                for (let i = 0; i < this.pageSizes.length; i++)
                {
                    if (this.pageSize === this.pageSizes[i])
                    {
                        this.itemBarMenu = this.pageSizes[i];
                        break;
                    }
                    else
                    {
                        this.itemBarMenu = this.pageSizes[0];
                    }
                }
                
                this.pageCount = Math.ceil(this.total / this.itemBarMenu);
            },
            prevPage() {
                if (this.nowPage !== 1)
                {
                    this.nowPage = this.nowPage - 1;
                    this.newPage = this.nowPage;
                }
            },
            nextPage() {
                if (this.nowPage < this.pageCount)
                {
                    this.nowPage = this.nowPage + 1;
                    this.newPage = this.nowPage;
                }
            },
            goToPage(targetPage) {
                if (typeof(targetPage) === 'number' || isNaN(targetPage) === false)
                    this.nowPage = this.newPage = parseInt(targetPage);
            },
            rePageTotal: function(){
                this.nowPage = this.newPage = 1;
                this.pageCount = Math.ceil(this.total / this.itemBarMenu);
            },
            verifyNumberPage: function(event){
                this.newPage = event.target.value.replace(/[^0-9]/g, 1);

                if (this.newPage > this.pageCount)
                {
                    this.newPage = 1;
                }
            },
            changePage() {  //更新目前頁數
                this.$emit('changePage', this.nowPage);
            },
            changeSize() { //更新顯示筆數
                this.$emit('changeSize', this.itemBarMenu);
            }
        },
        computed: {
            showPage: function(){
                let nowPage = this.nowPage;             //儲存目前 page 頁碼
                let pageCount = this.pageCount;   //儲存目前頁籤總數
                let result = [];
                 /*
                    目前思路
                    1, 2, 3, 4, 5 ... 20 起始
                    1... 3, 4, 5, 6, 7, ... , 20 中層
                    1, ... 16, 17, 18, 19, 20 尾層
                    [1, 2, 3, 4, 5, '...', pageTotal]
                    [1, '...', page-2, page-1, page, page+1, page+2, '...', pageTotal]
                    [1, '...', pageTotal-4, pageTotal-3, pageTotal-2, pageTotal-1, pageTotal]
                */

                if(pageCount <= this.pagerCount + 1)  //如果頁籤總數小於等於 6 頁
                {
                    for(let i = 1; i <= pageCount; i++) //使用迴圈新增全部頁籤
                    {
                        result.push(i);
                    }

                    //最終長相 1, 2, 3, 4, 5, 6
                }
                else if (nowPage < this.pagerCount - 1 && pageCount > 6)
                {
                    for(let i = 1; i <= this.pagerCount-1; i++)
                    {
                        result.push(i);
                    }

                    result.push('...', pageCount);

                    //最終長相 1, 2, 3, 4, 5, ... , pageCount
                }
                else if(nowPage >= pageCount - 2) //如果目前頁籤大於 頁籤總數 - 4
                {
                    for(let i = this.pagerCount - 2; i >= 1; i--) //使用迴圈先新增最後 5 新增五個頁籤
                    {
                        result.push(pageCount - i);
                    }

                    result.unshift(1, '...'); //最後在前面新增 1 ...
                    result.push(pageCount);  //最後在後面新增 頁籤總數

                    //最終長相 1, ..., 6, 7, 8, 9, pageTotal
                }
                else
                {
                    for (let i = this.pagerCount - 2; i >= 1; i--) //使用迴圈新增中間頁籤
                    {
                        // result.push((nowPage - i) + (this.pagerCount % 2) + parseInt(this.pagerCount / 2 - 1));
                        result.push((nowPage - i) + parseInt(this.pagerCount / 2));
                    }

                    result.unshift(1, '...');
                    result.push('...', pageCount);

                    //最終長相 1, ..., 4, 5, 6, 7, 8, ..., pageTotal
                }

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions.sass'

    .Pagination
        width: 100%
        text-align: center
        padding: 5px 0px

        *
            display: inline-block
            margin:
                left: 2.5px
                right: 2.5px

        .group
            margin:
                top: 10px
                bottom: 10px
            vertical-align: middle

            .prevPage, .nextPage
                padding: 2.5px 5px

            .numberPage
                padding: 0px 10px

            .prevPage, .nextPage, .numberPage
                background-color: transparent
                color: $color_blue
                border: none
                border-radius: 2.5px
                font-weight: 900
                outline: none
                transition: background-color 0.5s

                &:hover
                    background-color: $color_blue
                    color: $color_white

            .itemBarMenu
                width: 60px
                outline: none
                padding: 3.5px 5px
                background-color: $color_white
                border: 1px solid darken($color_gray, 25)
                border-radius: 2.5px
                cursor: pointer
                transition: border 0.5s

                &:hover
                    border: 1px solid $color_black

            .newPage
                outline: none
                border: 1px solid darken($color_gray, 25)
                border-radius: 2.5px
                padding: 1.5px 8px
                transition: border 0.5s

                &:focus
                    border: 1px solid $color_blue

            .goToPage
                background-color: $color_blue
                color: $color_white
                border: none
                border-radius: 2.5px
                outline: none
                padding: 2.5px 10px

                &:hover
                    box-shadow: 0px 0px 15px rgba($color_black, 0.15)
                    opacity: 0.95

    @media screen and ( max-width: 992px )
        .Pagination
            .group
                width: 100%
                max-width: 100%
</style>
