<template>
    <div id="noteResume">
        <!-- 如果照會履歷清單大於 0 筆，且照會履歷清單 api 沒有產生錯誤訊息，才顯示此區塊 -->
        <section class="noteResumeList" v-if="resNoteResumeList.length > 0 && apiErrorNoteResumeList === ''">
            <div class="container-fluid">
                <div class="row">
                    <div class="noteResumeData col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>#</th>
                                        <th>院區</th>
                                        <th>病歷號</th>
                                        <th>流水號</th>
                                        <th>照會日期</th>
                                        <th>照會類別名稱</th>
                                        <th>申請人員</th>
                                        <th>回覆狀態</th>
                                        <th>照會來源</th>
                                    </tr>
                                </thead>
                                <tbody class="content">
                                    <tr class="patientList" v-for="(item, index) in showNumberItem" :key="index" v-on:click="getNoteResumeQA(item.EVLDTE, item.DTATYP, item.VERSION, item.SRFLG, index)">
                                        <td v-text="index + itemBarMenu * nowPage - itemBarMenu + 1"></td>
                                        <td v-text="verifyArea(item.HSPNME)"></td>
                                        <td v-text="item.CRTNO"></td>
                                        <td v-text="item.CRTSEQ"></td>
                                        <td v-text="item.EVLDTE"></td>
                                        <td v-text="item.DTATYP_NAME"></td>
                                        <td v-text="item.APPLICANT"></td>
                                        <td v-text="item.STATUS"></td>
                                        <td v-text="verifyNoteSource(item.SRFLG)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <Pagination @changePage="handleChangePage" @changeSize="handleChangeSize" :total="resNoteResumeList.length"></Pagination>
                    </div>
                </div>
            </div>
        </section>

            <!-- 如果照會履歷清單等於 0 筆，且照會履歷清單 api 沒有產生錯誤訊息，才顯示此區塊 -->
            <Message v-else-if="resNoteResumeList.length === 0 && apiErrorNoteResumeList === ''"></Message>

                <!-- 如果照會履歷清單 api 產生錯誤訊息，才會顯示此區塊 -->
                <ErrorPage v-else :msg="apiErrorNoteResumeList"></ErrorPage>

        <!-- 照會問題 -->
        <NoteResumeProblemDetail v-if="showQADetail === true" :resNoteResumeProblemData="resNoteResumeProblemData" :serverError="apiErrorNoteResumeProblem"></NoteResumeProblemDetail>

        <!-- 照會回覆 -->
        <NoteResumeReplyDetail v-if="showQADetail === true" :resNoteResumeReplyData="resNoteResumeReplyData" :serverError="apiErrorNoteResumeReply"></NoteResumeReplyDetail>
    </div>
</template>

<script>
    import { getNoteResumeList, getNoteResumeProblemContent, getNoteResumeReplyContent } from '@/api/opr.js';
    import NoteResumeProblemDetail from './components/NoteResumeProblemDetail';
    import NoteResumeReplyDetail from './components/NoteResumeReplyDetail';
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';
    import Pagination from '@/components/Pagination';

    export default {
        name: 'noteResume',
        components: {
            NoteResumeProblemDetail,
            NoteResumeReplyDetail,
            Message,
            ErrorPage,
            Pagination
        },
        data(){
            return {
                attrData: null,          //儲存參數掛載參數  ex: url: http://localhost:8080/HIS/NUR/NURW200/#/inpAss/index/HPK210/0000820626/0A9L/F644
                resNoteResumeList: [],   //儲存照會履歷清單資料
                apiErrorNoteResumeList: '',  //儲存照會履歷清單 api 錯誤訊息
                resNoteResumeProblemData: null,  //儲存照會問題資料
                apiErrorNoteResumeProblem: '', //儲存照會問題 api 錯誤訊息
                resNoteResumeReplyData: null,    //儲存照會回覆資料
                apiErrorNoteResumeReply: '',   //儲存照會回覆 api 錯誤訊息
                showQADetail: false,           // 控制照會問題與回覆，顯不顯示，經過照會履歷清單點擊才顯示
                nowPage: 1, //記錄現在的頁籤
                itemBarMenu: 5, //儲存一次顯示幾筆資料
                noteResumeListBindStyle: "background-color: #26547C; color: #ffffff", //綁定照會履歷清單點擊後樣式
            }
        },
        mounted(){
            let self = this;
            self.attrData = self.$route.params;  //將抓到的掛載參數儲存至 attrData 變數

            if (self.attrData.hspnme !== '' && self.attrData.crtno !== '' && self.attrData.crtseq !== '') //如果院區、病歷號、流水號都不為空值
            {
               self.getNoteResumeListData();  //呼叫 getEveryAssList 方法，取得每日身體評估清單
            }
        },
        methods: {
            getNoteResumeListData: function(){  //此方法呼叫被 mounted() 呼叫時，進行呼叫 api 取得照會履歷清單資料
                let self = this;
                const hspnme = self.attrData.hspnme;
                const crtno = self.attrData.crtno;
                const crtseq = self.attrData.crtseq;

                getNoteResumeList(hspnme, crtno, crtseq).then((res) => { // 呼叫 api 代入院區、病歷號、流水號，取得照會履歷清單資料
                    if (res.status === 200)  //如果回傳的 Status Code 狀態為 200 成功狀態
                    {
                        self.resNoteResumeList = res.data;  //將回傳資料儲存至 resNoteResumeList 陣列
                    }
                    else  //否則
                    {
                        self.apiErrorNoteResumeList = res;  //回傳錯誤訊息，儲存至 apiErrorNoteResumeList 字串
                    }
                });
            },
            getNoteResumeQA: function(evldte, dtype, version, srflg, index){ //當使用者點擊某一筆照會履歷清單項目，才會被呼叫此方法，取得照會 問題 與 回覆 資料
                let self = this;
                const hspnme = self.attrData.hspnme;
                const crtno = self.attrData.crtno;
                const crtseq = self.attrData.crtseq;
                const evdte = evldte.replace(/\//g, '');   //將日期所有 "斜線" 替換成 "空白"
                self.showQADetail = false;               //隱藏照會回覆與問題資料
                self.resNoteResumeProblemData = null;    //初始化清空照會問題為 null
                self.resNoteResumeReplyData = null;      //初始化清空照會回覆為 null
                self.apiErrorNoteResumeProblem = '';     //初始化清空照會問題字串
                self.apiErrorNoteResumeReply = '';       //初始化清空照會回覆字串
                self.reNoteResumeListStyle();            //呼叫 reNoteResumeListStyle() 方法重整照會履歷清單樣式
                document.querySelectorAll('.patientList').item(index).style = self.noteResumeListBindStyle;  //將傳回來的 照會履歷清單 index 索引 修改 table 指定的 row 樣式
                
                Promise.all([
                    getNoteResumeProblemContent(hspnme, crtno, crtseq, evdte, dtype),
                    getNoteResumeReplyContent(hspnme, crtno, crtseq, evdte, dtype, version, srflg)
                ]).then((res) => {
                    if (res[0].status === 200)
                    {
                        self.resNoteResumeProblemData = res[0].data;
                    }
                    else
                    {
                        self.apiErrorNoteResumeProblem = res;
                    }

                    if (res[1].status === 200)
                    {
                        self.resNoteResumeReplyData = res[1].data;
                    }
                    else
                    {
                        self.apiErrorNoteResumeReply = res;
                    }

                    self.showQADetail = true;   //顯示照會問題與回覆資料
                });
            },
            verifyNoteSource: function(srflg) {  //此方法驗證照會來源
                let result = (srflg === '1')? '門診': '住院';   //如果 照會來源為 1 回傳門診，3 回傳住院
                
                return result;
            },
            verifyArea: function(area){ //此方法驗證是哪個院區
                let result = null; //儲存最後結果資料
                const areaData = [ //院區資料陣列 engName = 英文名稱，chinesName 中文名稱
                    { engName: 'KTGH00', chineseName: '沙鹿院區' },
                    { engName: 'HPK210', chineseName: '大甲院區' },
                    { engName: 'TSHIS', chineseName: '通宵院區'  },
                    { engName: 'KTXS00', chineseName: '向上院區' }
                ];

                for(let i = 0; i < areaData.length; i++) //使用迴圈判斷是哪個院區將英文名子轉中文名子
                {
                    if (area === areaData[i].engName)
                    {
                        result = areaData[i].chineseName
                        break;
                    }
                }

                return result;
            },
            handleChangePage: function(val) {
                this.nowPage = val;
            },
            handleChangeSize: function(val) {
                this.itemBarMenu = val;
            },
            reNoteResumeListStyle: function() {
                let patientList  = document.querySelectorAll('.patientList');

                for (let i= 0; i < patientList.length; i++) //使用迴圈清空樣式
                {
                    patientList[i].style = '';
                }
            }
        },
        computed: {
            showNumberItem: function(){
                /*
                    當 page、itemBarMenu 變數因前面的 rePageTotal、goToPage、lastPage、nextPage 方法，將 page、itemMenu 裡的值變更時，
                    才會自動啟用此方法，從第幾筆開始顯示到第幾筆
                */

                let start = this.nowPage * this.itemBarMenu - this.itemBarMenu;
                /*
                    start 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數 - 顯示筆數
                    例: 1 * 5 - 5
                */
                
                let end = this.nowPage * this.itemBarMenu;
                /*
                    end 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數
                    例: 1 * 5
                */

                let result = this.resNoteResumeList.slice(start, end);

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions.sass'

    #noteResume
        .noteResumeList
            .container-fluid
                padding: 25px

                .row
                    .noteResumeData
                        .scroll::-webkit-scrollbar
                            background-color: darken($color_gray, 15)
                            height: 10px

                        .scroll::-webkit-scrollbar-track
                            background-color: darken($color_gray, 15)

                        .scroll::-webkit-scrollbar-thumb
                            background-color: darken($color_gray, 25)

                        .scroll
                            width: 100%
                            border: 1px solid darken($color_gray, 25)
                            overflow-x: auto
                            overflow-y: hidden

                            table
                                width: 100%
                                background-color: $color_white
                                
                                tr
                                    color: $color_black
                                    transition: (background-color, color) 0.5s

                                    th, td
                                        white-space: nowrap
                                        text-align: center
                                        vertical-align: middle
                                        padding: 10px

                                thead.header
                                    background-color: $color_gray

                                tbody.content
                                    tr:nth-child(even)
                                        background-color: $color_gray

                                    tr.patientList
                                        cursor: pointer
                                        border-top: 1px solid darken($color_gray, 15)

                                        &:hover
                                            box-shadow: inset 5px 0px $color_blue

    .Pagination
        background-color: $color_gray
        border-left: 0.5px solid darken($color_gray, 25)
        border-right: 0.5px solid darken($color_gray, 25)
        border-bottom: 0.5px solid darken($color_gray, 25)

    @media screen and ( max-width: 992px )
        #noteResume
            .noteResumeList
                .container-fluid
                    .row
                        .noteResumeData
                            .scroll
                                overflow-x: auto
                                overflow-y: hidden
</style>