<template>
    <div id="ntrDetail">
        <!-- 如果營養照顧記錄等於 1 筆，且營養照顧記錄 api 沒有產生錯誤訊息，才顯示此區塊 -->
        <section class="ntrDetailData" v-if="resNtrRecDetail.length === 1 && resNtrRecDetail[0].CRTNO !== '' && serverError === ''">
            <div class="container-fluid">
                <div class="row">
                    <div class="NtrRecDetailInfo col-12 col-sm-12 col-lg-12 col-xl-12" v-for="(item, index) in resNtrRecDetail" :key="index">
                        <div class="card">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`院區: ${item.ORGAN}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`病歷號: ${item.CRTNO}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`姓名: ${item.PTNAME}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`性別: ${item.PTSEX}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`年齡: ${item.PTAGE}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`床號: ${item.BEDNO}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`來源: ${item.SRFLG}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`諮詢訪視日期: ${item.VSDTE}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`類別: ${item.EVLTYPE}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`診斷: ${item.SO}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`過去病史: ${item.HISTORY}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`負責營養師: ${item.OPID}`"></p>
                                </div>
                            </div>
                            <hr>
                            
                            <!-- 主觀資料 -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5>主觀資料</h5>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`意識狀態: ${item.SEN}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`臨床表徵: ${item.SHOW1}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`體位評估: ${item.SHOW2}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`營養供給途徑: ${item.PATH}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`進食腸胃問題: ${item.QUS}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`職業: ${item.JOB}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`活動量: ${item.ACT}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`衛教對象: ${item.HYGTARGET}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`嗜好習慣: ${item.HBY}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`飲食習慣: ${item.VEG}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`飲食史: ${item.DIETHISTORY}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`約攝取熱量: ${item.CAL}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`運動衛教: ${item.NOWSPORT}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`其他備註: ${item.SPORT}`"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- 客觀資料 -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5>客觀資料</h5>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`身高: ${item.HT} CM`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`體重: ${item.WT} KG`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`BMI: ${item.BMI}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`IBW: ${item.IBW}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`UBW: ${item.UBW}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`Adjust Bw: ${item.ABW}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`醫囑藥品: ${item.DIETSO}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p>
                                        <span>生化檢驗: </span>
                                        <span class="mr-3" v-text="`HBA1C: ${item.HBA1C},`"></span>
                                        <span class="mr-3" v-text="`AC: ${item.AC},`"></span>
                                        <span class="mr-3" v-text="`TG: ${item.TG},`"></span>
                                        <span class="mr-3" v-text="`CHOL: ${item.CHOL},`"></span>
                                        <span class="mr-3" v-text="`CRP: ${item.CRP},`"></span>
                                        <span class="mr-3" v-text="`BUN: ${item.BUN},`"></span>
                                        <span class="mr-3" v-text="`CR: ${item.CR},`"></span>
                                        <span class="mr-3" v-text="`NA: ${item.NA},`"></span>
                                        <span class="mr-3" v-text="`K: ${item.K},`"></span>
                                        <span class="mr-3" v-text="`GOT: ${item.GOT},`"></span>
                                        <span class="mr-3" v-text="`GPT: ${item.GPT},`"></span>
                                        <span class="mr-3" v-text="`PC: ${item.PC},`"></span>
                                        <span class="mr-3" v-text="`HDL: ${item.HDL},`"></span>
                                        <span class="mr-3" v-text="`LDL: ${item.LDL},`"></span>
                                        <span class="mr-3" v-text="`UA: ${item.UA},`"></span>
                                        <span class="mr-3" v-text="`ALB: ${item.UALB},`"></span>
                                        <span class="mr-3" v-text="`UPROT(+): ${item.UPROT},`"></span>
                                        <span class="mr-3" v-text="`CA: ${item.CA},`"></span>
                                        <span class="mr-3" v-text="`P: ${item.P},`"></span>
                                        <span class="mr-3" v-text="`AMON: ${item.AMON},`"></span>
                                        <span class="mr-3" v-text="`pre-Alb: ${item.PREALB}`"></span>
                                    </p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`其他: ${item.DIETOTHER}`"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- 評值 -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5>評值</h5>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`上次營養介入: ${item.IMPROVE}`"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- 營養評估 -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5>營養評估</h5>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`熱量需求: ${item.ECAL}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`蛋白質需求: ${item.EPROT}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`熱量攝取 ${item.INTAKE}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`蛋白質攝取: ${item.IPROT}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`油脂攝取: ${item.IFAT}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`鹽分攝取: ${item.ISALT}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`纖維攝取: ${item.IFIBER}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`平時飲食是否定時定量: ${item.FIXTIME}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`對飲食指導之學習意願: ${item.GUIDE}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`行為改變階段: ${item.CACT}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`目前攝取熱量: ${item.SCAL}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`臨床差異: ${item.CLINICAL}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`臨床差異說明: ${item.CLINICAL_MARK}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`下次監測項目: ${item.MONITOR}`"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- 營養診斷 -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5>營養診斷</h5>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p class="text_Pre" v-text="item.DIETDIAG"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- 營養介入 -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5>營養介入</h5>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`飲食建議: ${item.DIETARY_ADV}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="scroll">
                                        <table class="coltraceList">
                                            <thead class="header">
                                                <tr>
                                                    <th>項目</th>
                                                    <th>方法</th>
                                                </tr>
                                            </thead>

                                            <!-- 如果有營養介入清單則顯示清單 -->
                                            <tbody class="content" v-if="item.COLTRACE_LIst.length > 0">
                                                <tr v-for="(Coltrace, index) in item.COLTRACE_LIst" :key="index">
                                                    <td v-text="Coltrace.OP"></td>
                                                    <td v-text="Coltrace.SBE"></td>
                                                </tr>
                                            </tbody>

                                            <!-- 否則顯示查無資料 -->
                                            <tbody class="content" v-else>
                                                <tr>
                                                    <td colspan="2">查無資料</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            
                            <!-- 監測項目 -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5>監測項目</h5>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="item.MONITOR"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- 灌食追蹤 -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5>灌食追蹤</h5>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`Response: ${item.RESPONSE}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`Focus: ${item.FOCUS}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`Actual Calorie(kcal/day): ${item.ACTUALCALORIE}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`Actual Protein(g/day): ${item.ACTUALPROTEIN}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`Others: ${item.OTHERS}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`Action: ${item.ACTION}`"></p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <p v-text="`灌食追蹤日期: ${formatDate(item.FEEDING_VSDTE)}`"></p>
                                </div>
                                
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <p v-text="`灌食評估營養師: ${item.FEEDING_OPID}`"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!-- 如果營養照顧記錄等於 0 筆，且營養照顧記錄 api 沒有產生錯誤訊息，才顯示此區塊 -->
            <Message v-else-if="resNtrRecDetail.length === 0 && resNtrRecDetail[0].CRTNO === '' && serverError === ''"></Message>

                <!-- 如果營養照顧記錄 api 產生伺服器錯誤，才會顯示此區塊 -->
                <ErrorPage v-else :msg="serverError"></ErrorPage>
    </div>
</template>

<script>
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';

    export default {
        components: {
            Message,
            ErrorPage
        },
        props: {
            resNtrRecDetail: {  //繼承營養記錄單
                type: Array,
                default: new Array
            },
            serverError: {     //繼承伺服器錯誤訊息
                type: String,
                default: ''
            }
        },
        methods: {
            formatDate: function(date){ // 格式化入院日期
                let result = (date !== '')? date.substr(0, 3) + '/' + date.substr(3, 2) + '/' + date.substr(5, 2) : date;

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    p
        word-break: break-all
        padding: 10px 0px
        text-align: justify

    p.text_Pre
        white-space: pre-line

    #ntrDetail
        .ntrDetailData
            background-color: $color_blue

            .container-fluid
                padding: 25px

                .row
                    .NtrRecDetailInfo
                        .card
                            padding: 10px
                            border-radius: 10px
                            box-shadow: 0px 0px 15px rgba($color_black, 0.15)

                            .scroll::-webkit-scrollbar
                                background-color: darken($color_gray, 15)
                                height: 10px

                            .scroll::-webkit-scrollbar-track
                                background-color: darken($color_gray, 15)

                            .scroll::-webkit-scrollbar-thumb
                                background-color: darken($color_gray, 25)

                            .scroll
                                width: 100%
                                border: 1px solid darken($color_gray, 25)
                                overflow-x: auto
                                overflow-y: hidden

                                table.coltraceList
                                    width: 100%
                                    background-color: $color_white

                                    tr
                                        color: $color_black
                                        transition: (background-color, color) 0.5s

                                        td, th
                                            white-space: nowrap
                                            vertical-align: middle
                                            padding: 10px

                                    thead.header
                                        background-color: $color_gray

                                    tbody.content
                                        tr:nth-child(even)
                                            background-color: $color_gray

                                        tr
                                            border-top: 1px solid darken($color_gray, 15)


    @media screen and ( max-width: 992px )
        #ntrDetail
            .ntrDetailData
                .container-fluid
                    .row
                        .NtrRecDetailInfo
                            .card
                                .scroll
                                    overflow-x: auto
                                    overflow-y: hidden
</style>