<!--急診護理評估-->
<template>
    <div id="emerAss">
        <!-- 如果急診護理評估有資料等於 1 筆，且急診護理評估病歷號不等於空白，且急診護理評估 api 沒產生錯誤訊息，才顯示此區塊 -->
        <section class="emerAssData" v-if="resEmerAssData.length === 1 && resEmerAssData[0].CRTNO !== ' ' && serverError === ''">
            <div class="container-fluid">
                <div class="row">
                    <!--急診護理記錄資料-->
                    <div class="emerAssInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-for="(item, index) in resEmerAssData" :key="index">
                        <div class="card">
                            <!--病人急診基本資料-->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5 class="title">基本資料</h5>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'姓名: ' + item.PTNAME"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'性別: ' + item.PTSEX"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'年齡: ' + item.PTAGE"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'科別: ' + item.VSDPT"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'檢傷分類: ' + item.ERHRT"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'病歷號: ' + item.CRTNO"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'生日: ' + item.BRDTE"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'到院日期: ' + item.INDTE"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'入院方式: ' + item.INWAY"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'自何處轉入: ' + item.REFH"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'緊急聯絡人: ' + item.ERCNT"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="'電話: ' + item.PHONE"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'住址: ' + item.ADRS"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'前次進入時間: '+ item.PTNTIME"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'過敏史: ' + item.ALLERGIC"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'過去病史: ' + item.MH"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'日常用藥: ' + item.DRUG"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'手術史: ' + item.OPH"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'接觸旅遊史: ' + item.TRAVEL"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'資料來源: ' + item.IFM"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <hr>
                                </div>
                            </div>

                            <!--護理評估紀錄-->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5 class="title">護理評估</h5>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'主訴: ' + item.SO"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'生命徵象: ' + item.VITALSIGN"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'發病時間: ' + item.MORBIDITY"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'意識狀態:' + item.COMA"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'呼吸道: ' + item.AIRWAY"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'呼吸狀態: '+ item.RSTATUS"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'心肺系統: ' + item.HLS"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'皮膚: ' + item.SKIN"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'活動力: ' + item.ACTIVITY"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'一般檢查: ' + item.GE"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'頭部: ' + item.HEAD"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'眼睛: ' + item.EYE"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'耳: '+ item.EAR"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'鼻: ' + item.NOSE"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'口腔咽喉: ' + item.ORAL"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'腸胃道: ' + item.GAS"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'泌尿道: ' + item.URINARY"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'生殖: ' + item.GEN"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'精神: ' + item.MENTALITY"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="'其他: ' + item.OTHERS"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6">
                                    <p v-text="'記錄完成時間: ' + item.CTDTE"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6">
                                    <p v-text="'檢傷人員: ' + item.CTOP"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6">
                                    <p v-text="'記錄修改時間: ' + item.UPDTE"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6">
                                    <p v-text="'修改人員: ' + item.UPOP"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!-- 如果急診護理評估有資料，且急診護理評估病歷號等於 空白，且急診護理評估 api 沒有產生錯誤訊息，才會顯示此區塊 -->
            <Message v-else-if="resEmerAssData.length === 1 && resEmerAssData[0].CRTNO === ' ' && serverError === ''"></Message>

                <!-- 如果急診護理評估 api 產生伺服器錯誤，才會顯示此區塊 -->
                <ErrorPage v-else :msg="serverError"></ErrorPage>
    </div>
</template>

<script>
    import { getERNurEvaValue } from '@/api/opr';   //載入急診護理評估 api 方法
    import Message from '@/components/Message';     //載入訊息元件
    import ErrorPage from '@/components/ErrorPage'; //載入錯誤元件

    export default {
        name: 'everyAss',
        components: {
            Message,    //訊息元件
            ErrorPage   //錯誤元件
        },
        data() {
            return {
                attrData: null,  //儲存掛載參數  ex: url: http://localhost:8080/HIS/OPR/OPRW5000/#/emerAss/index/KTGH00/0001155995/0A01
                resEmerAssData: [], //儲存急診護理評估資料
                serverError: '', //儲存 api 錯誤訊息
            }
        },
        mounted() {
            let self = this;
            self.attrData = self.$route.params;  //將抓到的掛載參數儲存至 attrData 變數

            if (self.attrData.hsp !== '' && self.attrData.crtno !== '' && self.attrData.actno !== '') //如果院區、病例號、急診流水號都不等於空
            {
                self.getEmerAssData(); //呼叫 getEmerAssData() 方法取得急診護理評估資料
            }
        },
        methods: {
            getEmerAssData() { //此方法呼叫被 mounted() 呼叫時，進行呼叫 api 取得急診護理評估資料
                let self = this;
                const hsp = self.attrData.hsp;        //存取院區
                const crtno = self.attrData.crtno;    //存取病歷號
                const actno = self.attrData.actno;    //存取急診流水號

                getERNurEvaValue(hsp, crtno, actno).then((res) => { //呼叫 api 代入院區、病歷號、流水號，取得病人急診護理評估資料
                    if (res.status === 200) //如果 api 呼叫成功時
                    {
                        self.resEmerAssData.push(res.data); //將取得資料 存放 resEmerAssData 陣列
                    }
                    else  //否則
                    {
                        self.serverError = res;  //回傳錯誤訊息，儲存至 serverError 字串
                    }
                });
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    p
        word-break: break-all
        text-align: justify
        padding: 10px 0px

    #emerAss
        .emerAssData
            .container-fluid
                padding: 25px
                
                .emerAssInfo
                    .card
                        padding: 10px
                        box-shadow: 0px 0px 15px rgba($color_black, 0.15)
                        border: 1px solid darken($color_gray, 25)
                        border-radius: 10px

                    h5.title
                        color: $color_black
</style>