<template>
    <div class="appWrapper">
        <AppMain></AppMain>
    </div>
</template>

<script>
    import { AppMain } from './components'

    export default {
        name: 'Layout',
        components: {
            AppMain
        }
    }
</script>

<style>

</style>